
.status-bar{
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    width: 100%;
    position: fixed;
    top: 0;
    box-sizing: border-box;
}
.status-bar__column {
    width: 33%;
}
.status-bar__column:first-child span {
margin-right: 5px;
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-three-quarters{
    margin: 0px 5px;
}
.nav__notification{
background-color: tomato;
width: 30px;
height: 30px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-weight: 600;
position: absolute;
left: 15px;
bottom: 15px;
}

.nav__dot{
    width: 5px;
    height: 5px;
    left: 27px;
    bottom: 27px;
}